.citizenContainer {
    background-color: white;
    padding-top: 70px;
    margin-left: 120px;
}

.citizenMainText {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
/* identical to box height */
text-transform: capitalize;
color: #000000;
}

.citizenSecondryText {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #525252;
}

.box {
    position: relative;
    background-color: #ffbe26;
    border-radius: 20%;
    width: 98px;
height: 98px;
margin-top: 20px;
margin-bottom: 20px;
}

.boxImages {
    width: 64px;
height: 64px;
position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.apps {
    width: 248px;
height: 248px;
}

.boxContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.appsContainer {
    /* margin-left: -160px; */
    margin-top: auto;
margin-bottom: auto;
}

.textofBoxes {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #000000;
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
margin-right: 10px;
}